@import 'tailwindcss';
@tailwind utilities;


@custom-variant dark (&:is(.dark *));
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #0F1C2E;
  --foreground: #FFFFFF;
}
@theme {
  --color-primary:#1F3A5F;
  --color-secondary:#4d648d;
  --color-tertiary:#acc2ef;
  --color-bPrimary:#0F1C2E;
  --color-bSecondary:#1f2b3e;
  --color-bTertiary:#374357;
  --color-accentPrimary:#3D5A80;
  --color-accentSecondary:#cee8ff;
  --color-textPrimary:#FFFFFF;
  --color-textSecondary:#e0e0e0;
}

:root {

}

.dark {

}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    /**@apply border-border outline-ring/50;*/
  }
  body {
    /**@apply bg-background text-foreground;*/
  }
}
